<div class="container" style="margin:auto; width:800px;">
<div class="card-header"><h5 class="title" style="text-align: center;">Başvuru Güncelle</h5></div>
  <form [formGroup]="applicationUpdateForm" *ngIf="applicationUpdateForm">

    <div class="input-group input-group-outline my-3">
      <label class="form-label"></label>
      <select id="userId" formControlName="userId" class="form-select rounded-0">
        <option [value]="null" disabled hidden>Aday Seçiniz</option>
        <option *ngFor="let applicant of applicants" [value]="applicant.id">
            {{ applicant.firstName + " " + applicant.lastName}}
        </option>
    </select>
    </div> 
    <div *ngIf="applicationUpdateForm.get('userId').hasError('required') && applicationUpdateForm.get('userId').touched" class="form-text text-muted uyari">
      Aday zorunludur!
    </div>

    <div class="input-group input-group-outline my-3">
      <label class="form-label"></label>
      <select id="bootcampId" formControlName="bootcampId" class="form-select rounded-0">
        <option [value]="null" disabled hidden>Bootcamp Seçiniz</option>
        <option *ngFor="let bootcamp of bootcamps" [value]="bootcamp.id">
            {{ bootcamp.name }}
        </option>
    </select>
    </div>
    <div *ngIf="applicationUpdateForm.get('bootcampId').hasError('required') && applicationUpdateForm.get('bootcampId').touched" class="form-text text-muted uyari">
      Bootcamp zorunludur!
    </div>

    <div class="input-group input-group-outline my-3">
    <label class="form-label"></label>
    <input type="text" class="form-control" formControlName="state">
    </div>
    <div *ngIf="applicationUpdateForm.get('state').hasError('required') && applicationUpdateForm.get('state').touched" class="form-text text-muted uyari">
      Durum zorunludur!
    </div>

</form>
<div class="card-footer">
  <button type="button" class="btn btn-success" (click)="updateToApplication()">Kaydet</button>
</div>
</div>

