  <div class="container" style="margin:auto; width:800px;">
  <div class="card-header"><h5 class="title" style="text-align: center;">Başvuru</h5></div>
  <form [formGroup]="applicationAddForm">

    <div class="input-group input-group-outline my-3">
      <label class="form-label">Aday</label>
      <select id="userId" formControlName="userId" class="form-select rounded-0">
          <option [value]="null" disabled hidden>Aday Seçiniz</option>
          <option *ngFor="let applicant of applicants" [value]="applicant.id">
              {{ applicant.firstName + " " + applicant.lastName }}
          </option>
      </select>
    </div> 

    <div class="input-group input-group-outline my-3">
      <label class="form-label">Bootcamp</label>
      <select id="bootcampId" formControlName="bootcampId" class="form-select rounded-0">
          <option [value]="null" disabled hidden>Bootcamp Seçiniz</option>
          <option *ngFor="let bootcamp of bootcamps" [value]="bootcamp.id">
              {{ bootcamp.name }}
          </option>
      </select>
    </div>

    <div class="input-group input-group-outline my-3">
    <label class="form-label">State</label>
    <input type="text" class="form-control" formControlName="state">
    </div>
</form>
<div class="card-footer">
  <button type="button" class="btn btn-success" (click)="addToApplication()">Ekle</button>
</div>
</div>