  <div class="container-fluid" style="margin:auto; width:800px;">
  <div class="card-header"><h5 class="title" style="text-align: center;">Çalışan Ekle</h5></div>
  <form [formGroup]="employeeAddForm">
    <div class="row">
      <div class="col-md-6">
    <div class="input-group input-group-outline my-3">
      <label class="form-label">Adı</label>
      <input type="text" class="form-control" formControlName="firstName">
    </div>
    <div *ngIf="employeeAddForm.get('firstName').hasError('required') && employeeAddForm.get('firstName').touched" class="form-text text-muted uyari">
      Ad zorunludur!
    </div>
  </div>

    <div class="col-md-6">
    <div class="input-group input-group-outline my-3">
      <label class="form-label">Soyad</label>
      <input type="text" class="form-control" formControlName="lastName">
    </div>
    <div *ngIf="employeeAddForm.get('lastName').hasError('required') && employeeAddForm.get('lastName').touched" class="form-text text-muted uyari">
      Soyad zorunludur!
    </div>
  </div>

    <div class="col-md-6">
    <div class="input-group input-group-outline my-3">
      <label class="form-label">Email</label>
      <input type="email" class="form-control" formControlName="email">
    </div>
    <div *ngIf="employeeAddForm.get('email').hasError('required') && employeeAddForm.get('email').touched" class="form-text text-muted uyari">
      Email zorunludur!
    </div>
    <div *ngIf="employeeAddForm.get('email').hasError('pattern') && employeeAddForm.get('email').touched" class="form-text text-muted uyari">
      Email adresi geçersiz!
    </div>
  </div>

    <div class="col-md-6">
    <div class="input-group input-group-outline my-3">
      <label class="form-label">Şifre</label>
      <input type="text" class="form-control" formControlName="password">
    </div>
    <div *ngIf="employeeAddForm.get('password').hasError('required') && employeeAddForm.get('password').touched" class="form-text text-muted uyari">
      Şifre zorunludur!
    </div>
    <div *ngIf="employeeAddForm.get('password').errors?.['minlength'] && employeeAddForm.get('password').touched" class="form-text text-muted uyari">
      Şifre en az 5 karakterli olmalı!
    </div>
  </div>
    
  <div class="col-md-6">
    <div class="input-group input-group-outline my-3">
      <label class="form-label">TC No</label>
      <input type="text" class="form-control" formControlName="nationalIdentity">
    </div>
    <div *ngIf="employeeAddForm.get('nationalIdentity').hasError('required') && employeeAddForm.get('nationalIdentity').touched" class="form-text text-muted uyari">
      TC No zorunludur!
    </div>
  </div>

  <div class="col-md-6">
    <div class="input-group input-group-static my-3">
      <label>Doğum Tarihi</label>
      <input type="date" class="form-control" formControlName="dateOfBirth">
    </div>
    <div *ngIf="employeeAddForm.get('dateOfBirth').hasError('required') && employeeAddForm.get('dateOfBirth').touched" class="form-text text-muted uyari">
      Doğum Tarihi zorunludur
    </div>
  </div>

  <div class="col-md-6">
    <div class="input-group input-group-outline my-3">
      <label class="form-label">Pozisyon</label>
      <input type="text" class="form-control" formControlName="position">
    </div>
    <div *ngIf="employeeAddForm.get('position').hasError('required') && employeeAddForm.get('position').touched" class="form-text text-muted uyari">
      Pozisyon zorunludur!
    </div>
  </div>
  
  </div>
</form>
<div class="card-footer">
  <button type="button" class="btn btn-success" (click)="addToEmployee()">Ekle</button>
</div>
</div>