  <div class="container" style="margin: auto; width:800px;">
  <div class="card-header"><h5 class="title" style="text-align: center;">Eğitmen Ekle</h5></div>
  <form [formGroup]="instructorAddForm">

    <div class="input-group input-group-outline my-3">
      <label class="form-label">Adı</label>
      <input type="text" class="form-control" formControlName="firstName">
    </div>
    <div *ngIf="instructorAddForm.get('firstName').hasError('required') && instructorAddForm.get('firstName').touched" class="form-text text-muted uyari">
      Ad alanı zorunludur
    </div>

    <div class="input-group input-group-outline my-3">
      <label class="form-label">Soyad</label>
      <input type="text" class="form-control" formControlName="lastName">
    </div>
    <div *ngIf="instructorAddForm.get('lastName').hasError('required') && instructorAddForm.get('lastName').touched" class="form-text text-muted uyari">
      Soyad alanı zorunludur
    </div>

    <div class="input-group input-group-outline my-3">
      <label class="form-label">Email</label>
      <input type="email" class="form-control" formControlName="email">
    </div>
    <div *ngIf="instructorAddForm.get('email').hasError('required') && instructorAddForm.get('email').touched" class="form-text text-muted uyari">
      Email alanı zorunludur
    </div>

    <div class="input-group input-group-outline my-3">
      <label class="form-label">Şifre</label>
      <input type="text" class="form-control" formControlName="password">
    </div>
    <div *ngIf="instructorAddForm.get('password').hasError('required') && instructorAddForm.get('password').touched" class="form-text text-muted uyari">
      Şifre alanı zorunludur
    </div>
    
    <div class="input-group input-group-outline my-3">
      <label class="form-label">TC No</label>
      <input type="text" class="form-control" formControlName="nationalIdentity">
    </div>
    <div *ngIf="instructorAddForm.get('nationalIdentity').hasError('required') && instructorAddForm.get('nationalIdentity').touched" class="form-text text-muted uyari">
      TC No alanı zorunludur
    </div>

    <div class="input-group input-group-outline my-3">
      <label class="form-label">Doğum Tarihi</label>
      <input type="text" class="form-control" formControlName="dateOfBirth">
    </div>
    <div *ngIf="instructorAddForm.get('dateOfBirth').hasError('required') && instructorAddForm.get('dateOfBirth').touched" class="form-text text-muted uyari">
      Doğum Tarihi alanı zorunludur
    </div>

    <div class="input-group input-group-outline my-3">
      <label class="form-label">Firma Adı</label>
      <input type="text" class="form-control" formControlName="companyName">
    </div>
    <div *ngIf="instructorAddForm.get('companyName').hasError('required') && instructorAddForm.get('companyName').touched" class="form-text text-muted uyari">
      Firma Adı alanı zorunludur
    </div>

</form>
<div class="card-footer">
  <button type="button" class="btn btn-success" (click)="addToInstructor()">Ekle</button>
</div>
</div>