<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Anasayfa</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Çalışan
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item">Çalışan Giriş</a></li>
            <li>
              <a routerLink="employees" class="dropdown-item"
                >Çalışan Listesi</a
              >
            </li>
            <li><a class="dropdown-item">Ekle</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Eğitmen
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item">Eğitmen Giriş</a></li>
            <li>
              <a routerLink="instructors" class="dropdown-item"
                >Eğitmen Listesi</a
              >
            </li>
            <li><a class="dropdown-item">Eğitmen Ekle</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Aday
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item">Aday Giriş</a></li>
            <li>
              <a routerLink="applicants" class="dropdown-item">Aday Listesi</a>
            </li>
            <li><a class="dropdown-item">Aday Ekle</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Bootcamp
          </a>
          <ul class="dropdown-menu">
            <li>
              <a routerLink="bootcamps" class="dropdown-item"
                >Bootcamp Listesi</a
              >
            </li>
            <li><a class="dropdown-item">Bootcamp Ekle</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
