  <div class="card-header"><h5 class="title">Kara Lİste Ekle</h5></div>
  <form [formGroup]="blacklistAddForm">

    <div class="input-group input-group-outline my-3">
      <label for="applicantId" class="form-label"></label>
      <select id="applicantId" formControlName="applicantId" class="form-select rounded-0">
        <option [value]="null" disabled hidden>Aday Seçiniz</option>
        <option *ngFor="let applicant of applicants" [value]="applicant.id">
            {{ applicant.firstName }}
        </option>
    </select>
    </div>

    <div class="input-group input-group-outline my-3">
      <label class="form-label">Tarih</label>
      <input type="text" class="form-control" formControlName="date">
      <small *ngIf="blacklistAddForm.get('date').hasError('required') && blacklistAddForm.get('date').touched" class="form-text text-muted">
        Tarih alanı zorunludur.
    </small>
    </div>

    <div class="input-group input-group-outline my-3">
      <label class="form-label">Sebep</label>
      <input type="text" class="form-control" formControlName="reason">
      <small *ngIf="blacklistAddForm.get('reason').hasError('required') && blacklistAddForm.get('reason').touched" class="form-text text-muted">
        Sebep alanı zorunludur.
    </small>
    </div>
</form>
<div class="card-footer">
  <button type="button" class="btn btn-success" (click)="addToBlacklist()">Ekle</button>
</div>