<div class="content">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header"><h5 class="title">Bootcamp Güncelle</h5></div>
      <div class="card-body">
        <form [formGroup]="bootcampUpdateForm" *ngIf="bootcampUpdateForm">
          <label for="name">Bootcamp Adı</label>
          <div class="form-group">
            <input type="text" formControlName="name" />
          </div>

          <label for="instructerId">Eğitmen Adı</label>
          <div class="form-group">
            <select id="instructerId" formControlName="instructerId">
              <option
                *ngFor="let instructor of instructors"
                [value]="instructor.id"
              >
                {{ instructor.firstName }} {{ instructor.lastName }}
              </option>
            </select>
          </div>

          <label for="dateStart">Başlangıç Tarihi</label>
          <div class="form-group">
            <input type="text" formControlName="dateStart" />
          </div>

          <label for="dateEnd">Bitiş Tarihi</label>
          <div class="form-group">
            <input type="text" formControlName="dateEnd" />
          </div>
        </form>
      </div>
      <div class="card-footer">
        <button class="btn btn-outline-success" (click)="updateToBootcamp()">
          Kaydet
        </button>
      </div>
    </div>
  </div>
</div>
