<div class="card">
  <div class="table-responsive">
    <table class="table align-items-center mb-0">
      <thead>
        <tr>
          <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Ad</th>
          <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Soyad</th>
          <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Email</th>
          <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Tc No</th>
          <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Doğum Tarihi</th>
          <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Pozisyon</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employee of employees">
          <td>
            <div class="d-flex px-2">
              <div class="my-auto">
                <h6 class="mb-0 text-xs">{{ employee.firstName }}</h6>
              </div>
            </div>
          </td>

          <td>
            <div class="d-flex px-2">
              <div class="my-auto">
                <h6 class="mb-0 text-xs">{{ employee.lastName }}</h6>
              </div>
            </div>
          </td>

          <td>
            <div class="d-flex px-2">
              <div class="my-auto">
                <h6 class="mb-0 text-xs">{{ employee.email}}</h6>
              </div>
            </div>
          </td>

          <td>
            <div class="d-flex px-2">
              <div class="my-auto">
                <h6 class="mb-0 text-xs">{{ employee.nationalIdentity }}</h6>
              </div>
            </div>
          </td>

          <td>
            <div class="d-flex px-2">
              <div class="my-auto">
                <h6 class="mb-0 text-xs">{{ employee.dateOfBirth }}</h6>
              </div>
            </div>
          </td>

          <td>
            <div class="d-flex px-2">
              <div class="my-auto">
                <h6 class="mb-0 text-xs">{{ employee.position }}</h6>
              </div>
            </div>
          </td>
          <td><button routerLink="update/{{employee.id}}" class="btn btn-warning btn-sm">Güncelle</button></td>
          <td><button (click)="deleteToEmployee(employee.id)" type="button" class="btn btn-primary btn-sm">Sil</button></td>
        </tr>
      </tbody>
    </table>
  </div>
  </div>

