<div class="container-fluid py-4">
  <div class="row">
    <div class="col-12">
      <div class="card my-4">
        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
          <div class="bg-gradient-dark shadow-dark border-radius-lg pt-4 pb-3">
            <h6 class="text-white text-capitalize ps-3">Çalışanlar</h6>
          </div>
        </div>
        <div class="card-body px-0 pb-2">
          <div class="table-responsive p-0">
            <table class="table align-items-center mb-0">
              <thead>
                <tr>
                  <th
                    class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                  >
                    Ad
                  </th>
                  <th
                    class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2"
                  >
                    Soyad
                  </th>
                  <th
                    class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2"
                  >
                    Email
                  </th>
                  <th
                    class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2"
                  >
                    Tc No
                  </th>
                  <th
                    class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2"
                  >
                    Doğum Tarihi
                  </th>
                  <th
                    class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2"
                  >
                    Pozisyon
                  </th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let employee of employees">
                  <td>
                    <div class="d-flex px-2">
                      <div class="my-auto">
                        <h6 class="mb-0 text-xs">{{ employee.firstName }}</h6>
                      </div>
                    </div>
                  </td>

                  <td>
                    <div class="d-flex px-2">
                      <div class="my-auto">
                        <h6 class="mb-0 text-xs">{{ employee.lastName }}</h6>
                      </div>
                    </div>
                  </td>

                  <td>
                    <div class="d-flex px-2">
                      <div class="my-auto">
                        <h6 class="mb-0 text-xs">{{ employee.email }}</h6>
                      </div>
                    </div>
                  </td>

                  <td>
                    <div class="d-flex px-2">
                      <div class="my-auto">
                        <h6 class="mb-0 text-xs">
                          {{ employee.nationalIdentity }}
                        </h6>
                      </div>
                    </div>
                  </td>

                  <td>
                    <div class="d-flex px-2">
                      <div class="my-auto">
                        <h6 class="mb-0 text-xs">{{ employee.dateOfBirth }}</h6>
                      </div>
                    </div>
                  </td>

                  <td>
                    <div class="d-flex px-2">
                      <div class="my-auto">
                        <h6 class="mb-0 text-xs">{{ employee.position }}</h6>
                      </div>
                    </div>
                  </td>
                  <td>
                    <a
                      routerLink="update/{{ employee.id }}"
                      class="btn bg-gradient-info mb-0 mt-0 mt-md-n9 mt-lg-0"
                    >
                      Güncelle
                    </a>
                  </td>
                  <td>
                    <button
                      (click)="deleteToEmployee(employee.id)"
                      type="button"
                      class="btn bg-gradient-primary mb-0 mt-0 mt-md-n9 mt-lg-0"
                    >
                      Sil
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
