<div class="container-fluid px-2 px-md-4">
  <div
    class="page-header min-height-300 border-radius-xl mt-4"
    style="background-image: url('../../../assets/img/page.jpg')"
  >
    <span class="mask opacity-6"></span>
  </div>
  <div class="card card-body mx-3 mx-md-4 mt-n6">
    <!-- <div class="row gx-4 mb-2">
      <div class="col-auto">
        <div class="avatar avatar-xxl position-relative">
          <img
            src="../../assets/img/images/vedatbilgin.jpg"
            alt="profile_image"
            class="w-100 border-radius-lg shadow-sm"
          />
        </div>
      </div>
      <div class="col-auto my-auto">
        <div class="h-100">
          <h5 class="mb-1">Vedat BİLGİN</h5>
          <p class="mb-0 font-weight-normal text-sm">
            Türkiye Cumhuriyeti Çalışma ve Sosyal Güvenlik Bakanı
          </p>
        </div>
      </div>
    </div> -->
    <div class="row gx-4 mb-2">
      <div class="col-auto">
        <div class="avatar avatar-xxl position-relative">
          <img
            src="../../assets/img/images/kenanyavuz.jpeg"
            alt="profile_image"
            class="w-100 border-radius-lg shadow-sm"
          />
        </div>
      </div>
      <div class="col-auto my-auto">
        <div class="h-100">
          <h5 class="mb-1">Kenan YAVUZ</h5>
          <p class="mb-0 font-weight-normal text-sm">
            Çalışma ve Sosyal Güvenlik Eğitim Araştırma Merkezi Başkan V.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <hr class="border" />
      <div class="row">
        <div class="col-12">
          <div class="card card-plain">
            <div class="card-body d-flex ps-0">
              <div
                class="col-lg-2 col-md-3 col-sm-4 text-center"
                *ngFor="let employee of employees"
              >
                <a
                  href="javascript:;"
                  class="avatar avatar-xl rounded-circle border border-primary"
                >
                  <img
                    alt="Image placeholder"
                    class="p-1"
                    src="{{ employee.image }}"
                  />
                </a>
                <h5 class="mb-0 text-sm">
                  {{ employee.firstName }} {{ employee.lastName }}
                </h5>
                <p class="mb-0 text-sm">
                  {{ employee.position }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr class="border" />
      <div class="row">
        <div class="col-12">
          <div class="card my-4">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
              <div
                class="bg-gradient-dark shadow-dark border-radius-lg pt-4 pb-3"
              >
                <h6 class="text-white text-capitalize ps-3">Bootcamplar</h6>
              </div>
            </div>
            <div class="card-body px-0 pb-0 h-25">
              <div class="table-responsive p-0">
                <table class="table align-items-center mb-0">
                  <thead>
                    <tr>
                      <th
                        class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                      >
                        Bootcamp Adı
                      </th>
                      <th
                        class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2"
                      >
                        Eğitmen Adı
                      </th>
                      <th
                        class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2"
                      >
                        Başlama Tarihi
                      </th>
                      <th
                        class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2"
                      >
                        Bitiş Tarihi
                      </th>
                      <th
                        class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2"
                      >
                        Durumu
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let bootcamp of bootcamps">
                      <td style="height: 60px">
                        <div class="d-flex px-2">
                          <div class="my-auto">
                            <h6 class="mb-0 text-xs">{{ bootcamp.name }}</h6>
                          </div>
                        </div>
                      </td>

                      <td>
                        <div class="d-flex px-2">
                          <div class="my-auto">
                            <h6 class="mb-0 text-xs">
                              {{ bootcamp.instructorName }}
                            </h6>
                          </div>
                        </div>
                      </td>

                      <td>
                        <div class="d-flex px-2">
                          <div class="my-auto">
                            <h6 class="mb-0 text-xs">
                              {{ bootcamp.dateStart }}
                            </h6>
                          </div>
                        </div>
                      </td>
                      <td>
                        <div class="d-flex px-2">
                          <div class="my-auto">
                            <h6 class="mb-0 text-xs">{{ bootcamp.dateEnd }}</h6>
                          </div>
                        </div>
                      </td>

                      <td>
                        <div class="d-flex px-2">
                          <div class="my-auto">
                            <h6 class="mb-0 text-xs">
                              <span
                                *ngIf="bootcamp.state == 1"
                                class="badge badge-sm bg-gradient-success"
                                >Online</span
                              >
                              <span
                                *ngIf="bootcamp.state == 2; else offline"
                                class="badge badge-sm bg-gradient-secondary"
                                >Offline</span
                              >
                              <ng-template #offline></ng-template>
                            </h6>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
