<div class="card-header"><h5 class="title">Bootcamp Ekle</h5></div>
<form [formGroup]="bootcampAddForm">

  <div class="input-group input-group-outline my-3">
    <label class="form-label">Bootcamp Adı</label>
    <input type="text" class="form-control" formControlName="name">
   <small *ngIf="bootcampAddForm.get('name').hasError('required') && bootcampAddForm.get('name').touched" class="form-text text-muted">
    Bootcamp alanı zorunludur.
   </small>
  </div>

  <div class="input-group input-group-outline my-3">
    <label class="form-label"></label>
    <select id="instructerId" formControlName="instructerId" class="form-select rounded-0">
      <option [value]="null" disabled hidden>Eğitmen Seçiniz</option>
      <option *ngFor="let instructor of instructors" [value]="instructor.id">
        {{ instructor.firstName }} {{ instructor.lastName }}
      </option>
    </select>
  </div>

  <div class="input-group input-group-outline my-3">
    <label class="form-label">Başlangıç Tarihi</label>
    <input type="text" class="form-control" formControlName="dateStart">
    <small *ngIf="bootcampAddForm.get('dateStart').hasError('required') && bootcampAddForm.get('dateStart').touched" class="form-text text-muted">
      Tarih alanı zorunludur.
  </small>
  </div>
  
  <div class="input-group input-group-outline my-3">
    <label class="form-label">Bitiş Tarihi</label>
    <input type="text" class="form-control" formControlName="dateEnd">
    <small *ngIf="bootcampAddForm.get('dateEnd').hasError('required') && bootcampAddForm.get('dateEnd').touched" class="form-text text-muted">
      Tarih alanı zorunludur.
  </small>
  </div>
  <div class="input-group input-group-outline my-3">
    <label class="form-label">Durumu</label>
    <input type="text" class="form-control" formControlName="state">
    <small *ngIf="bootcampAddForm.get('state').hasError('required') && bootcampAddForm.get('state').touched" class="form-text text-muted">
      Durumu alanı zorunludur.
  </small>
  </div>
</form>
<div class="card-footer">
<button type="button" class="btn btn-success" (click)="addToBootcamp()">Ekle</button>
</div>