<div class="container" style="margin: auto; width:800px;">
<div class="card-header"><h5 class="title" style="text-align: center;">Bootcamp Ekle</h5></div>
<form [formGroup]="bootcampAddForm">

  <div class="input-group input-group-outline my-3">
    <label class="form-label">Bootcamp Adı</label>
    <input type="text" class="form-control" formControlName="name">
  </div>

  <div class="input-group input-group-outline my-3">
    <label class="form-label"></label>
    <select id="instructerId" formControlName="instructerId" class="form-select rounded-0">
      <option [value]="null" disabled hidden>Eğitmen Seçiniz</option>
      <option *ngFor="let instructor of instructors" [value]="instructor.id">
        {{ instructor.firstName }} {{ instructor.lastName }}
      </option>
    </select>
  </div>

  <div class="input-group input-group-outline my-3">
    <label class="form-label">Başlangıç Tarihi</label>
    <input type="text" class="form-control" formControlName="dateStart">
  </div>
  
  <div class="input-group input-group-outline my-3">
    <label class="form-label">Bitiş Tarihi</label>
    <input type="text" class="form-control" formControlName="dateEnd">
  </div>
  <div class="input-group input-group-outline my-3">
    <label class="form-label">Durumu</label>
    <input type="text" class="form-control" formControlName="state">
  </div>
</form>
<div class="card-footer">
<button type="button" class="btn btn-success" (click)="addToBootcamp()">Ekle</button>
</div>
</div>