<div class="card">
  <div class="table-responsive">
    <table class="table align-items-center mb-0">
      <thead>
        <tr>
          <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ">Ad</th>
          <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Soyad</th>
          <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Email</th>
          <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Şifre</th>
          <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Firma Adı</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let instructor of instructors">
          <td>
            <div class="d-flex px-2">
              <div class="my-auto">
                <h6 class="mb-0 text-xs">{{ instructor.firstName }}</h6>
              </div>
            </div>
          </td>

          <td>
            <div class="d-flex px-2">
              <div class="my-auto">
                <h6 class="mb-0 text-xs">{{ instructor.lastName }}</h6>
              </div>
            </div>
          </td>

          <td>
            <div class="d-flex px-2">
              <div class="my-auto">
                <h6 class="mb-0 text-xs">{{ instructor.email}}</h6>
              </div>
            </div>
          </td>
          <td>

          <td>
            <div class="d-flex px-2">
              <div class="my-auto">
                <h6 class="mb-0 text-xs">{{ instructor.password }}</h6>
              </div>
            </div>
          </td>

          <td>
            <div class="d-flex px-2">
              <div class="my-auto">
                <h6 class="mb-0 text-xs">{{ instructor.companyName }}</h6>
              </div>
            </div>
          </td>
          <td><button routerLink="update/{{instructor.id}}" class="btn btn-warning btn-sm">Güncelle</button></td>
          <td><button (click)="deleteToInstructor(instructor.id)" type="button" class="btn btn-primary btn-sm">Sil</button></td>
        </tr>
      </tbody>
    </table>
  </div>
  </div>


