<div class="container-fluid row-cols-md-5">
  <div class="">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Ad</th>
          <th scope="col">Soyad</th>
          <th scope="col">Email</th>
          <th scope="col">Firma</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let instructor of instructors">
          <td>{{ instructor.firstName }}</td>
          <td>{{ instructor.lastName }}</td>
          <td>{{ instructor.email }}</td>
          <td>{{ instructor.companyName }}</td>
          <td><button class="btn btn-success">Ekle</button></td>
          <td><button class="btn btn-warning">Güncelle</button></td>
          <td><button class="btn btn-danger">Sil</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
