<div class="card">
  <div class="table-responsive">
    <table class="table align-items-center mb-0">
      <thead>
        <tr>
          <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Bootcamp Adı</th>
          <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Eğitmen Adı</th>
          <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Başlama Tarihi</th>
          <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Bitiş Tarihi</th>
          <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Durumu</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let bootcamp of bootcamps">
          <td>
            <div class="d-flex px-2">
              <div class="my-auto">
                <h6 class="mb-0 text-xs">{{ bootcamp.name }}</h6>
              </div>
            </div>
          </td>

          <td>
            <div class="d-flex px-2">
              <div class="my-auto">
                <h6 class="mb-0 text-xs">{{ bootcamp.instructerId }}</h6>
              </div>
            </div>
          </td>

          <td>
            <div class="d-flex px-2">
              <div class="my-auto">
                <h6 class="mb-0 text-xs">{{ bootcamp.dateStart}}</h6>
              </div>
            </div>
          </td>
          <td>

            <div class="d-flex px-2">
              <div class="my-auto">
                <h6 class="mb-0 text-xs">{{ bootcamp.dateEnd}}</h6>
              </div>
            </div>
          </td>

          <td>
            <div class="d-flex px-2">
              <div class="my-auto">
                <h6 class="mb-0 text-xs">{{ bootcamp.state }}</h6>
              </div>
            </div>
          </td>
          <td><button routerLink="update/{{bootcamp.id}}" class="btn btn-warning">Güncelle</button></td>
          <td><button (click)="deleteToBootcamp(bootcamp.id)" type="button" class="btn btn-primary">Sil</button></td>
        </tr>
      </tbody>
    </table>
  </div>
  </div>

